<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spm.mapper.StudentMapper">
    <resultMap id="StudentResultMap" type="com.example.spm.model.Student">
        <id column="uid" jdbcType="INTEGER" property="sid" />
        <result column="sname" jdbcType="VARCHAR" property="sname" />
        <result column="gender" jdbcType="TINYINT" property="gender" />
        <result column="grade" jdbcType="INTEGER" property="grade" />
        <result column="spassword" jdbcType="VARCHAR" property="hashedPassword" />
    </resultMap>
    <resultMap id="StudentInfo" type="com.example.spm.model.Student">
        <id column="uid" jdbcType="INTEGER" property="sid" />
        <result column="sname" jdbcType="VARCHAR" property="sname" />
        <result column="gender" jdbcType="TINYINT" property="gender" />
        <result column="grade" jdbcType="INTEGER" property="grade" />
    </resultMap>

    <select id="selectAll" resultMap="StudentInfo">
        select sid, sname, gender, grade from student
    </select>

    <select id="selectByName" resultMap="StudentInfo" parameterType="String">
        select sid, sname, gender, grade from student where sname = #{name}
    </select>

    <select id="selectById" resultMap="StudentResultMap" parameterType="int">
        select sid, sname, gender, grade, spassword from student where sid = #{id}
    </select>

    <insert id="insertStudent" parameterType="com.example.spm.model.Student">
        insert into student (sid, sname, grade, gender, spassword)
        values (#{sid}, #{sname}, #{grade}, #{gender}, #{hashedPassword});
    </insert>

    <delete id="deleteStudentById" parameterType="com.example.spm.model.Student">
        delete from student where sid = #{sid};
    </delete>

    <update id="updateStudentGradeById" parameterType="com.example.spm.model.Student">
        update student
        set  grade = #{grade}
        where sid = #{sid};
    </update>
</mapper>