<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spm.mapper.TeacherMapper">
    <resultMap id="TeacherResultMap" type="com.example.spm.model.Teacher">
        <id column="tid" jdbcType="INTEGER" property="tid" />
        <result column="tname" jdbcType="VARCHAR" property="tname" />
        <result column="tpassword" jdbcType="VARCHAR" property="hashedPassword" />
    </resultMap>
    
    <select id="selectAll" resultMap="TeacherResultMap">
        select tid, tname, tpassword from teachers;
    </select>

    <select id="selectByName" parameterType="String" resultMap="TeacherResultMap">
        select tid, tname, tpassword
        from teachers where tname = #{name};
    </select>

    <select id="selectById" parameterType="Integer" resultMap="TeacherResultMap">
        select tid, tname, tpassword
        from teachers
        where tid = #{id};
    </select>

    <insert id="insertTeacher" parameterType="com.example.spm.model.Teacher">
        insert into teachers (tid, tname, tpassword)
        values (#{tid}, #{tname}, #{hashedPassword});
    </insert>

    <delete id="deleteTeacherById" parameterType="com.example.spm.model.Teacher">
        delete from teachers where tid = #{tid};
    </delete>

</mapper>